<!DOCTYPE html>
<html lang="en">

  <!-- Resuable Head stored in partials -->
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <body style="background-color: powderblue;">
    
    <!-- Reused NavBar stored in partials -->
    <div class="navigation">
        <%- include('../partials/navbar'); %>
    </div> 

    <!-- Reused SearchBar stored in partials -->
    <div class="box" >      
        <%- include('../partials/searchbar'); %>
    </div>

    <div class="djWorkspace-container">

        <!-- Static UI component display -->
        <div class="djProfile-container">
                <img src="<%= playlist.imgSrc %>">
        </div>

        <div class="djInfo">
            <p id="djTag">Mitski</p>        
        </div>

        <!-- dynamic UI component display-->
        <div class="playlist-container">

            <div class="playlist">
                <div class="song-container" id="song1"><%= typeof playlist.songs[0] !== 'undefined' ?  (playlist.songs[0].title + ' - ' + playlist.songs[0].artist) : 'Add Song' %></div>
                <div class="song-container" id="song2"><%= typeof playlist.songs[1] !== 'undefined' ?  (playlist.songs[1].title + ' - ' + playlist.songs[1].artist) : 'Add Song' %></div>
                <div class="song-container" id="song3"><%= typeof playlist.songs[2] !== 'undefined' ?  (playlist.songs[2].title + ' - ' + playlist.songs[2].artist) : 'Add Song' %></div>
                <div class="song-container" id="song4"><%= typeof playlist.songs[3] !== 'undefined' ?  (playlist.songs[3].title + ' - ' + playlist.songs[3].artist) : 'Add Song' %></div>
                <div class="song-container" id="song5"><%= typeof playlist.songs[4] !== 'undefined' ?  (playlist.songs[4].title + ' - ' + playlist.songs[4].artist) : 'Add Song' %></div>
                <div class="song-container" id="song6"><%= typeof playlist.songs[5] !== 'undefined' ?  (playlist.songs[5].title + ' - ' + playlist.songs[5].artist) : 'Add Song' %></div>
            </div>

        </div>

        <form class="addPopup" id="addPopup" onsubmit="return addValidate()">
        
        
            <p class="AddInput">Enter a Song to Add
                <input id="addSong" placeholder="Enter a song"
                    type="text"/>
            </p>

            <button type="submit" id="add">Add</button>
            <button id="cancelAdd">Cancel</button>
        </form>

        
        <form class="removePopup" id="removePopup" onsubmit="return remValidate()">
        
        
            <p class="remInput">Enter a Song to Remove
                <input id="remSong" placeholder="Enter a song"
                    type="text"/>
            </p>

            <button type="submit" id="remove">Remove</button>
            <button id="cancelRemove">Cancel</button>
        </form>

        <div class="player-container">

            <p class="playing" id="currPlaying">Now Playing:</p>

            <div class="player-button-container">
                <button class="player-button" id="lastSong" onClick="playLast()">&#x23EE</button>
                <button class="player-button" id="playPause" onClick="playPause()">&#x23F5</button>
                <button class="player-button" id="nextSong" onClick="playNext()">&#x23ED</button>
            </div>

            <div class="player">
                <audio class="music-player" id="audio" controls="audioControls">
                    <source id="audioSource" src="#"></source>
                </audio>
            </div>

        </div>

        <div class="playlist-functions-container">

            <button class="function-button" id="addButton">Add Song</button>

            <button class="function-button" id="removeButton">Remove Song</button>
        </div>

    </div>
    
    <script src="javascript/djPlaylist.js"></script>
  </body>
</html>