<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" />
        <title>Listner's Page</title>
        <link rel="stylesheet" href="css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"
    />
        
    </head>

    <body>
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="./">Lofi-Station</a></li>
                    <li><a href="./"><%= username !== "Login" ? 'Welcome, ' + username + '!' : ' ' %></a></li>

                    <li><a href="/homepage">About Us</a></li>
                    <li><a href= <%= link %> onclick=<%= func %>><%= username !== "Login" ? 'Logout' : 'Login' %></a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="btn">
               <button class="pref-btn" onclick="window.location.href = './preferences'">Preferences</button> 
            </section>

            <section class="current-song" id="current-song">
                <figure>
                    <img src="images/default_albumcover.jpg" alt="album-cover" id="cover"/>
                    <figcaption><i>Album Cover</i></figcaption>
                </figure>
            
                <h1 id="title"><%= songName %></h1>
                <h2 id="artist"><%= artist %></h2>
                
            </section>

            <section class="song-queue">
                <h1>Song Queue</h1>
                <div class="grid-1" id="grid-1">
                    <article>
                        
                    </article>
                </div>
            </section>

            <section class="dj-queue">
                <h1>DJ Queue</h1>
                <div class="grid-2">
                
               
                </div>
            </section>
            
            <section class="audio-player">
                <audio src = "" id="audio" volume=".01">
                </audio>

                <div class="progress-container" id="progress-container">
                    <div class="progress" id="progress"></div>
                </div>
                
                <article class="duration">
                    <p id="current-duration">0:00</p>
                    <p id="total-duration">0:00</p>
                    
                </article>

                <article class="music-buttons">
                    <button id="prev" class="action-btn">
                        <i class="fas fa-backward"></i>
                    </button>
                    <button id="play" class="action-btn action-btn-big">
                        <i class="fas fa-play"></i>
                    </button>
                    <button id="next" class="action-btn">
                        <i class="fas fa-forward"></i>
                    </button>
                </article>
            </section>
            
            <script src="js/script.js"></script>
        </main>
        
    </body>
</html>